.form {
  width: var(--container_mob);
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 96px;

  @media (min-width: 1024px) {
    max-width: var(--desktop);
    padding-bottom: 144px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;

  padding: 40px 16px 16px;
  border-radius: 40px;
  background: linear-gradient(
      98deg,
      rgba(26, 117, 255, 0.6) 0%,
      rgba(29, 249, 144, 0.6) 100%
    ),
    #fff;
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    border-radius: 60px;
    padding: 40px 60px;
    margin-bottom: 60px;
    display: flex;
    gap: 30px;
  }

  @media (min-width: 1328px) {
    padding: 60px 80px;
    gap: 60px;
  }
}

.text_wrap {
  flex: 1;
}

.header {
  color: var(--second_text_color);
  font-size: var(--fs_xlarge);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-left: 8px;

  @media (min-width: 1024px) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 48px;
  }
}

.header_text {
  color: var(--second_text_color);
  font-size: var(--fs_xsmall);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
  margin-left: 8px;

  @media (min-width: 1024px) {
    max-width: 535px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: var(--fs_medium);
  }
}

.form_wrap {
  padding: 24px 16px;
  border-radius: 32px;
  background: var(--background);

  @media (min-width: 768px) {
    padding: 40px;
    flex: 1;
    max-width: 531px;
  }
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input {
  font-family: var(--font_ukr);
  position: relative;
  height: 56px;
  padding: 16px 24px 16px 16px;
  border-radius: 32px;
  border: 1px solid #b5bbe1;
  background-clip: padding-box;
  background-color: var(--background);
  color: var(--second_text_color);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    padding: 16px 32px;
    font-size: var(--fs_xsmall);
  }
}

.input::placeholder {
  color: var(--second_text_color);
  font-size: var(--fs_small);
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.input:focus,
.input:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(98deg, #1a75ff 0%, #1df990 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 32px;
  background-color: rgba(225, 228, 242, 0.3);
  outline: none;
}

.input:focus::placeholder,
.input:hover::placeholder {
  color: #b5bbe1;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  transform: translateY(-3mm);
  transition: all 0.3s ease;
}

.textarea {
  border-radius: 24px;
  height: 160px;
  margin-bottom: 20px;
  resize: none;
  color: var(--second_text_color);
  font-style: normal;
}

.textarea:focus,
.textarea:hover {
  border-radius: 24px;
}

.textarea::placeholder {
  font-family: inherit;
  color: var(--second_text_color);
  transition: all 0.3s ease;
}

.custom_file_input {
  position: relative;
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px dashed #b5bbe1;
  background: var(--background);
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.custom_file_input:hover,
.custom_file_input:focus {
  background-color: rgba(225, 228, 242, 0.3);
  border-color: #1a75ff;
}

.custom_file_input input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file_input_text {
  display: block;
  font-size: var(--fs_small);
  color: var(--second_text_color);
  line-height: normal;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.resume_text {
  display: block;
  color: var(--second_text_color);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
  margin-left: 8px;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    margin-left: 0;
  }
}

.close_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.active_file {
  justify-content: space-between;
  border: 1px solid #b5bbe1;
  background-color: var(--background);
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-weight: 500;
  padding: 0 16px;
  margin-bottom: 12px;
  color: var(--second_text_color);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    margin-bottom: 16px;
  }
}

.or::before,
.or::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #b5bbe1;
}

.or::before {
  left: 0;
  right: calc(70% - 16px);

  @media (min-width: 768px) {
    right: calc(60% - 16px);
  }
}

.or::after {
  right: 0;
  left: calc(70% - 16px);

  @media (min-width: 768px) {
    left: calc(60% - 16px);
  }
}

.error {
  border: 1px solid #d95043;
  outline: none;
  margin-bottom: 0;
}

.error_resume {
  border: 1px dashed #d95043;
  outline: none;
  margin-bottom: 0;
}

.error_text {
  color: #ff476c;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 17px;
}

.button {
  margin-top: 8px;
  width: 100%;
  height: 56px;
  padding: 16px 40px;
  border-radius: 32px;
  background: var(--second_text_color);
  color: var(--background);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (min-width: 768px) {
    padding: 22px 40px;
    height: 64px;
    margin-top: 15px;
  }
}

.button:hover,
.button:focus {
  box-shadow: 0px 15px 25px 0px #008aff33;
}

.loader {
  margin: 0 auto;
  border: 2px solid #951e1eb5;
  border-top: 2px solid #951818;
  border-radius: 58%;
  width: 44px;
  height: 44px;
  margin-top: 24px;
  display: block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.question_wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 8px;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 64px;
    padding: 0;
    align-items: center;
  }
}

.question_text {
  color: var(--second_text_color);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;

  @media (min-width: 1024px) {
    max-width: 390px;
  }
}

.question_link_wrap {
  display: flex;
  gap: 8px;

  @media (min-width: 1024px) {
    gap: 16px;
  }
}

.question_link {
  position: relative;
  padding: 28px;
  border-radius: 24px;
  background-color: #e1e4f2;
  display: flex;
  gap: 0px;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  transition: width 0.3s ease, gap 0.3s ease;

  @media (min-width: 1024px) {
    width: 112px;
    height: 112px;
  }
}

.question_link:hover,
.question_link:focus {
  width: 152px;
  height: 88px;
  background-color: rgba(140, 64, 255, 0.2);
  gap: 8px;

  .question_link_icon_hover {
    opacity: 1;
  }
  .question_link_icon {
    opacity: 0;
  }

  .question_link_text {
    opacity: 1;
    width: 56px;
  }

  @media (min-width: 1024px) {
    width: 212px;
    gap: 16px;
    height: 112px;
    .question_link_text {
      width: 84px;
    }
  }
}

.question_link_tg:hover,
.question_link_tg:focus {
  width: 179px;
  height: 88px;
  background-color: rgba(26, 117, 255, 0.2);

  .question_link_text_tg {
    opacity: 1;
    width: 83px;
  }

  @media (min-width: 1024px) {
    width: 252px;
    height: 112px;
    .question_link_text_tg {
      width: 124px;
    }
  }
}

.question_link_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1024px) {
    & svg {
      width: 48px;
      height: 48px;
    }
  }
}

.question_link_text {
  display: inline-block;
  opacity: 0;
  width: 0;
  color: #8c40ff;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;

  @media (min-width: 1024px) {
    font-size: var(--fs_large);
  }
}

.question_link_text_tg {
  color: #1a75ff;
}

.question_link_icon_hover {
  position: absolute;
  top: 28px;
  left: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;

  @media (min-width: 1024px) {
    top: 32px;
    left: 32px;
    & svg {
      width: 48px;
      height: 48px;
    }
  }
}
