.hero {
  width: 100%;
  padding: 8px 0 96px;

  /* @media (min-width: 1328px) {
    padding-top: 184px;
  } */
}

.container {
  width: var(--container_mob);
  margin: 0 auto;
  border-radius: 32px;
  background: var(--main_color);
  padding: 104px 20px 20px;
  background-image: url('../../img/hero/back_mob.webp');
  background-position: top 235px right -8px;
  background-repeat: no-repeat;
  background-size: 302px 286px;
}

.header_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 60px;
  height: 50px;
}

.header {
  background: linear-gradient(
      98deg,
      rgba(26, 117, 255, 0.8) 0%,
      rgba(29, 249, 144, 0.8) 100%
    ),
    rgba(247, 247, 247);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--fs_mxlarge);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}

.logo_text {
  background: linear-gradient(
      98deg,
      rgba(26, 117, 255, 0.8) 0%,
      rgba(29, 249, 144, 0.8) 100%
    ),
    rgba(247, 247, 247);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--fs_large);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 160px;
}

.block_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.first_block {
  padding: 24px;
  border-radius: 32px;
  border: 1px solid #1a75ff;
  background: linear-gradient(98deg, #1a75ff 0%, #1df990 100%),
    rgba(8, 40, 89, 0.4);
}

.first_block_header {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: rgba(250, 250, 250, 0.3);
  color: var(--second_text_color);
  font-size: var(--fs_xsmall);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.first_block_text {
  color: var(--second_text_color);
  font-weight: 300;
  line-height: 1.5;
}

.second_block {
  padding: 24px;
  border-radius: 32px;
  border: 1px solid #1a75ff;
  background: rgba(8, 40, 89, 0.4);
  backdrop-filter: blur(30px);
}

.second_block_header {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: rgba(250, 250, 250, 0.3);
  color: #d5d9f2;
  font-size: var(--fs_xsmall);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.second_block_text {
  color: #b5bbe1;
  font-weight: 300;
  line-height: 1.5;
}

.list_header {
  max-width: 200px;
  color: #d5d9f2;
  font-size: var(--fs_xsmall);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.list_item {
  width: calc(50% - 36px);
  padding: 16px;
  border-radius: 16px;
  background: rgba(213, 217, 242, 0.1);
  cursor: pointer;
}

.list_link {
  display: block;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.list_text {
  color: #b5bbe1;
  line-height: normal;
}

.main_nav_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.nav_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prev,
.next {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(213, 217, 242, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  background-image: url('../../img/hero/arrow.svg');
  background-position: center left 9px;
  background-repeat: no-repeat;
  background-size: 24px 24px;

  &:hover {
    box-shadow: 0px 0px 5px 5px #ffffff4d;
  }

  @media (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.prev {
  transform: rotate(180deg);
}

.prev:hover,
.next:hover {
  background-color: rgba(213, 217, 242, 0.421);
}
