.feedback {
  background: var(--foreground);
  padding: 40px 0;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 1300px) {
    padding: 90px 0 150px;
  }
}

.container {
  width: var(--container);
  margin: 0 auto;

  @media (min-width: 1340px) {
    width: 1290px;
  }
}

.parWrap {
  background: var(--main_color);
  padding: 24px;

  & button {
    background-color: var(--background);
    color: var(--main_color);
  }
}

.header {
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
  font-size: var(--fs_xlarge);
  margin-bottom: 40px;

  & span {
    white-space: nowrap;
  }

  @media (min-width: 768px) {
    font-size: var(--fs_xxlarge);
    line-height: 1.26;
    text-align: center;
    margin-bottom: 60px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 100px;
  }
}

.paginationWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin: 0 auto;
  background: var(--main_color);
  border-radius: 24px;
  width: 214px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    width: 282px;
    gap: 9px;
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
}

.prev,
.next {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  background-image: url('../../img/arrow.webp');
  background-position: center left 10px;
  background-repeat: no-repeat;
  background-size: 14px 23px;

  &:hover {
    box-shadow: 0px 0px 5px 5px #ffffff4d;
  }

  @media (min-width: 768px) {
    width: 45px;
    height: 45px;
    background-size: 19px 31px;
  }
}

.next {
  transform: rotate(180deg);
}

.prev:hover,
.next:hover {
  color: #000;
}

.pagination {
  position: static !important;
  width: 60px !important;
  padding-bottom: 3px;

  @media (min-width: 768px) {
    display: flex;
    gap: 4px;
    width: auto !important;
    padding-bottom: 0;
    & span {
      width: 27px !important;
      height: 13px !important;
    }
  }
}

.gallerySlider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 75px;
  }
}

.galleryItem {
  @media (min-width: 768px) {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
  }
  @media (min-width: 1250px) {
    flex-wrap: nowrap;
    gap: 50px;
  }
}

.sliderImage {
  width: 100%;
}

.imgWrap {
  width: 100%;
  aspect-ratio: 328/325;
  overflow: hidden;
  border-radius: 24px 24px 0 0;
  margin-bottom: -32px;

  @media (min-width: 768px) {
    aspect-ratio: 328/347;
  }
}

.card {
  max-width: var(--mobile_l);
  margin: 0 auto;
  margin-bottom: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 2px 5px #ff94661a)
      drop-shadow(0px 9px 20px #ffb0881f) drop-shadow(0px 16px 20px #ff94661a)
      drop-shadow(0px 37px 15px #ff94661a) drop-shadow(0px 57px 16px #ffb0881f);
    transform: scaleX(1.01);
  }

  @media (min-width: 768px) {
    max-width: var(--mobile_xl);
    margin-bottom: 0;
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1250px) {
    max-width: none;
    width: calc(100% / 3 - 33px);
  }
}

.cardText {
  position: relative;
  line-height: 1.26;
  letter-spacing: 0.02em;
  padding: 37.5px 24px;
  border-radius: 24px 24px 0 0;
  background-color: var(--background);
  z-index: 1;

  @media (min-width: 768px) {
    flex-grow: 1;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    padding: 41px 18px 30px 20px;
  }
}

.cardFooter {
  background: var(--main_color);
  display: flex;
  padding: 16px 10px;
  border-radius: 0 0 24px 24px;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    border-radius: 0 0 20px 20px;
    padding: 23px 25px;
  }
}

.cardSpan {
  color: var(--second_text_color);
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: 0.02em;
  padding-right: 8px;
  border-right: 1px solid #f8c991;

  @media (min-width: 768px) {
    font-size: var(--fs_large);
    padding-right: 5px;
  }
}

.cardHead {
  padding-left: 8px;
  color: var(--second_text_color);
  font-size: var(--fs_xsmall);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.26;

  @media (min-width: 768px) {
    font-size: var(--fs_medium);
    padding-left: 5px;
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-image: var(--foreground);
  position: absolute;
  top: 0;
  left: 0;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
