.vacancy {
  margin: 0 auto;
  padding: 96px 0;
  width: var(--container);

  @media (min-width: 1024px) {
    padding: 135px 0 40px;
  }

  @media (min-width: 1408px) {
    max-width: var(--desktop);
  }
}

.link_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    gap: 10px;
    margin-bottom: 24px;
  }

  @media (min-width: 1024px) {
    gap: 12px;
    margin-bottom: 40px;
  }
}

.link_text {
  color: var(--second_text_color);
  font-size: var(--fs_small);
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_medium);
  }
}

.main_wrap {
  @media (min-width: 1024px) {
    display: flex;
    gap: 12px;
  }
  @media (min-width: 1328px) {
    gap: 32px;
  }
}

.head_container {
  border-radius: 32px;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    flex: 0.875;
    padding: 40px;
    border-radius: 40px;
  }
}

.header {
  color: var(--second_text_color);
  font-size: var(--fs_xlarge);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.description {
  color: var(--second_text_color);
  font-size: var(--fs_small);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 12px;

  & a {
    color: #5551fe;
  }

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    margin-bottom: 24px;
  }
}

.skills {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
  margin-top: 24px;

  @media (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.skill {
  padding: 12px 16px;
  border-radius: 100px;
  background-color: #1df990;
  font-size: var(--fs_small);
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    font-weight: 500;
  }
}

.button {
  width: 100%;
  padding: 16px;
  border-radius: 32px;
  background: var(--second_text_color);
  color: var(--background);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    padding: 22px 40px;
    margin-bottom: 2px;
  }
}

.button:hover,
.button:focus {
  box-shadow: 0px 15px 25px 0px #008aff33;
}

.loader {
  margin: 0 auto;
  border: 2px solid #951e1eb5;
  border-top: 2px solid #951818;
  border-radius: 58%;
  width: 44px;
  height: 44px;
  margin-top: 24px;
  display: block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.salary {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 8px;
  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.description_container_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (min-width: 768px) {
    overflow-y: auto;
    flex: 1;
    gap: 32px;
  }
  @media (min-width: 1024px) {
    max-height: calc(100vh - 260px);
    min-height: 700px;
  }
  @media (min-width: 1200px) {
    max-height: calc(100vh - 245px);
    min-height: 650px;
  }
}

.description_container {
  padding: 24px;
  border-radius: 32px;
  background-color: rgba(85, 81, 254, 0.2);
  @media (min-width: 768px) {
    padding: 40px;
    border-radius: 40px;
  }
}

.description_header {
  color: var(--main_text_color);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    line-height: 1.5;
    margin-bottom: 32px;
  }
}

.description_list {
  padding-left: 16px;
  @media (min-width: 768px) {
    padding-left: 32px;
  }
}

.description_item {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;

  & svg {
    flex-shrink: 0;
    margin-top: 4px;
    fill: #5551fe;
  }
  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.description_text {
  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.description_container_second {
  background-color: rgba(29, 249, 144, 0.2);
}

.description_item_second {
  & svg {
    fill: #1df990;
  }
}

.description_container_third {
  background-color: rgba(26, 117, 255, 0.2);
}

.description_container_fourth {
  background-color: #e1e4f2;
}

.description_item_third {
  & svg {
    fill: #1a75ff;
  }
}

.video_wrap {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 280/163;
  min-height: 150px;

  @media (min-width: 1024px) {
    aspect-ratio: 568/332;
    min-height: 332px;
  }
}

.video {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 24px;
}

.video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: #e1e4f2;
  transition: opacity 0.3s ease;

  & svg {
    margin-left: 4px;
  }

  @media (min-width: 768px) {
    width: 96px;
    height: 96px;
    & svg {
      width: 40px;
      height: 40px;
    }
  }
}

.video_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video_icon_show {
  opacity: 0;
  width: 0;
  height: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow-y: auto;
  width: var(--container_mob);
  margin: 0 auto;
  border-radius: 40px;

  @media (min-width: 1408px) {
    border-radius: 60px;
    max-width: var(--desktop);
  }
}

.overlay {
  background: rgba(6, 6, 6, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.dots_loading {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
