.footer {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: var(--main_color);
  padding: 40px 16px 96px;

  @media (min-width: 768px) {
    border-radius: 60px 60px 0px 0px;
    padding: 40px 16px;
  }

  @media (min-width: 1024px) {
    border-radius: 80px 80px 0px 0px;
    padding: 53px;
  }
}

.container {
  margin: 0 auto;
  max-width: var(--desktop);
  position: relative;
}

.menu_wrap {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.logo_wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }

  @media (min-width: 768px) {
    margin: 0;

    & svg {
      width: 48px;
      height: 40px;
    }
  }
}

.logo_text {
  color: #fff;
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.nav {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 10px;
    & ul {
      display: flex;
      gap: 40px;
    }
  }
}

.nav_item {
  margin-bottom: 14px;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.nav_item_link {
  color: #b5bbe1;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;

  &:hover {
    color: var(--background);
    font-weight: 500;
  }
}

.lang_wrap {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-top: 3px;
    margin-bottom: 0;
  }
}

.social {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 40px;
  height: 32px;

  & li {
    height: 32px;
  }

  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 40px;
    margin-bottom: 0;
  }
}

.soc_item_link {
  height: 32px;

  & svg {
    fill: #b5bbe1;
    transition: fill 0.3s ease;
    width: 32px;
    height: 32px;
  }

  & svg:hover {
    fill: var(--background);
  }
}

.policy_wrap {
  padding-top: 16px;
  border-top: 1px solid #adb7c2;

  & a {
    font-family: var(--font_mons);
    font-weight: 500;
    line-height: 1.22;
    font-size: var(--fs_xsmall);
    color: #adb7c2;

    transition: color 0.3s ease;

    &:hover {
      color: var(--foreground);
    }
  }

  @media (min-width: 768px) {
    padding-top: 36px;
  }
}
